body {
  background-color: whitesmoke;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.middle div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
}

.title {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #737373;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  font-size: 1.5rem;
}

.google-button:focus, .google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }

.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }

    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 8px 8px;
  width: 30px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  padding-left: 2%;
}

.out {
  margin: 2% 85%;
 
}